@import "tailwindcss";

.bgimage{
    height: 100vh;
    width: 100%;
    background-image: url(../../public/Images/riddleBG_upscaled.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
